/*CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: #EDEDE5;
    scroll-behavior: smooth;
}

.bg-git {
    background-color: #F54D27;
}

.cvs > .nav.nav-tabs{
    border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

.cvs > div a.nav-item.nav-link,
.cvs > div a.nav-item.nav-link.active {
    border: none;
    padding: 18px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

.cvs > div a.nav-item.nav-link.active:after {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border-top-color: #e74c3c;
}

.tab-content {
    background: #fdfdfd;
    line-height: 25px;
    border-top:5px solid #e74c3c;
    border-bottom:5px solid #e74c3c;
    padding:30px 25px;
    display: flex;
    align-items: center;
}

.cvs > div a.nav-item.nav-link:hover,
.cvs > div a.nav-item.nav-link:focus {
    border: none;
    background: #e74c3c;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}

@media only screen and (min-width: 774px) {
    .tab-content {
        height: 300px;
    }
}

#git {
    position: relative;
    /*background: linear-gradient(90deg, rgba(222,76,54,1) 0%, rgba(34,34,34,1) 56%);*/
    background-color: #222;
    color: #FDFDFD;
}

#git::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.5;
    background: url('../images/git-wallpaper.png');
    background-position: center;
}

#content-git {
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
}

#command {
    background-color: #de4c36;
    color: #FDFDFD;
}

#command h3 {
    color: #222;
}

.link-info {
    border: #222 2px solid;
    border-radius: 50px !important
}

.link-info:hover {
    /*background-color: rgba(0, 0, 0, 0.5);*/
    opacity: 0.5;
    transition: 0.3s;
}

.img-infografia {
    width: 100%;
}

.h-install-process {
    height: 40px;
}

@media only screen and (max-width: 992px) {
    .h-install-process {
        height: auto;
    }
}

